#heading {
font-size:30px ;
width:100% ;
margin-top: 0px;

}
#head{
  background-color:#FFA500;
  box-shadow:5px 5px 5px gray ;
}
.note{
  font-size:18px ;
  color: black;
}

.copyright_footer{
  position: fixed;
  margin: 0;
  bottom: 0;
  width: 100%;
  color:whitesmoke;
  background-color: cadetblue;
  line-height: 5;
  text-align: center;
}

canvas{
border: 5px  solid grey;
border-radius:20px ;
box-shadow: 5px 5px 5px grey;
}